nav {
  display: flex;
  height: 75px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

nav a {
  margin: 0 10px;
  display: inline-block;
  padding: 8px 12px;
  color: white;
  background-color: darkcyan;
  border-radius: 4px;
  text-decoration: none;
}

nav a.active {
  background-color: cadetblue;
}

.content {
  padding: 10px;
}
